// Footer
footer
  .container
    p © 2017 Wonder-Shooter Product Team. All Rights Reserved.
    ul.list-inline
      li.list-inline-item
        a(href='#') Privacy
      li.list-inline-item
        a(href='#') Terms
      li.list-inline-item
        a(href='#') FAQ
// /Footer
