// Header
header.masthead
  .container.h-100
    .row.h-100
      .my-auto
        .header-content.mx-auto
          h1
            img.img-fluid(src="/assets/img/svganime.png")
          .text-center
            a.btn.btn-outline.btn-xl.js-scroll-trigger(href='#pointstable') Check Points Table !
// /Header
