// Header
header.masthead
  .container.h-100
    .row.h-100
      .col-lg-7.my-auto
        .header-content.mx-auto
          h1.mb-5
            | New Age is an app landing page that will help you beautifully showcase your new mobile app, or anything else!
          a.btn.btn-outline.btn-xl.js-scroll-trigger(href='#download') Start Now for Free!
      //- .col-lg-5.my-auto
      //-   .device-container
      //-     .device-mockup.iphone6_plus.portrait.white
      //-       .device
      //-         .screen
      //-           // Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
      //-           img.img-fluid(src='assets/img/demo-screen-1.jpg', alt='')
      //-         .button
      //-           // You can hook the "home button" to some JavaScript events or just remove it
// /Header
