.text-center.mt-4
  h3 Today's Top 10 Scores
  .table-responsive#top10
    table.table.rankingTable.mt-4
      thead
        tr
          th.rank #
          th name
          th score
      tbody
  h3.mt-4 Today's Score Table
  .table-responsive#scorestable
    table.table.scoreTable.mt-4
      thead
        tr
          th #
      tbody
