extend /_template/_default
append variables
  //- 変更可能
  - var pageTitle= "";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  - var pageAbsolutePath = "";

  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage;
  - var pageOgpType= "website";

block content
  section#pointstable.pointstable.bg-primary.text-center
    .container
      .row
        .col-md-8.mx-auto
          h2.section-heading Points Table
          p Score ranking on November 4, 2017
          hr
          include /_pointstable
  section#system.system
    .container
      .section-heading.text-center
        h2 Wonder Shooter
        p.text-muted Systems we are using
        hr
      .row
        .col-md-4
          .system-item
            a(href="https://unity3d.com/jp")
              i.icon-camrecorder.text-primary
            h3 Unity
            p.text-muted Game Engine
        .col-md-4
          .system-item
            a(href="https://www.vive.com/jp/")
              i.icon-paper-plane.text-primary
            h3 VIVE
            p.text-muted Tracking System
        .col-md-4
          .system-item
            a(href="https://nodejs.org/ja/")
              i.icon-link.text-primary
            h3 Node.js
            p.text-muted Network
  section#movie.movie
    .movie-content
      .container
        h2
          | How does
          br
          | Wonder Shooter
          br
          | work?
  section#team.contact
    .container
      h2
        | Our Team
      .row.justify-content-center
        .col-md-4.text-center
          a(href='http://meteorworks.jp/')
            img.img-fluid(src="assets/img/meteorworks.svg",alt="METEORWORKS")
        .col-md-4.text-center
          a(href='https://kozarusha.com/')
            img.img-fluid(src="assets/img/kozarusha.svg",alt="こざる舍")
