extend /_template/_default
append variables
  //- 変更可能
  - var pageTitle= "";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  - var pageAbsolutePath = "";

  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage;
  - var pageOgpType= "website";

block content
  section#pointstable.pointstable.bg-primary.text-center
    .container
      .row
        .col-md-8.mx-auto
          h2.section-heading Score Table
          p on November 4th, 2017
          hr
          include /_pointstable
  section#system.system
    .container
      .section-heading.text-center
        h2 Wonder Shooter
        p.text-muted Systems we are using
        hr
      .row.justify-content-center
        .col-md-4
          .system-item
            a(href="https://unity3d.com/jp")
              i.icon-camrecorder.text-primary
            h3 Unity
            p.text-muted Game Engine
        .col-md-4
          .system-item
            a(href="https://www.vive.com/jp/")
              i.icon-paper-plane.text-primary
            h3 VIVE
            p.text-muted Tracking System
  section#movie.movie
    .movie-content
      .container
        .section-heading.text-center
          h2 Wonder Shooter Movies
          p.text-muted How does it work ?
          hr
        .row.justify-content-center
          .col-md-4
            .youtube_outer
              | <iframe src="https://www.youtube.com/embed/rshJYkN9liU" frameborder="0" gesture="media" allowfullscreen></iframe>
          .col-md-4
            .youtube_outer
               <iframe src="https://www.youtube.com/embed/2gfmnY84YG8" frameborder="0" gesture="media" allowfullscreen></iframe>
          //- .col-md-4
          //-   .youtube_outer
          //-     | <iframe src="https://www.youtube.com/embed/bpnkIv2Mnz4" frameborder="0" gesture="media" allowfullscreen></iframe>
  section#team.contact
    .container
      h2
        | Our Team
      .row.justify-content-center
        .col-md-4.text-center
          a(href='http://meteorworks.jp/')
            img.img-fluid(src="assets/img/meteorworks.svg",alt="METEORWORKS")
        .col-md-4.text-center
          a(href='https://kozarusha.com/')
            img.img-fluid(src="assets/img/kozarusha.svg",alt="こざる舍")
